
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    background-color: #fafafa;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;    
}

p{
    margin-bottom: 0;
}

.navbar-brand{
    font-size:1.7rem;
}


.form-control{

    background-color: #fafafa;
    font-size:0.8rem;
}

.img-fluid{
    width: 100%;
}

.avatar{
    width: 35px;
    height: 35px;
    min-width: 35px;    
}

.comment {
    .user{
        font-weight: bold;
    }
}

footer{

    background-color: #fff;    

    .fa-plus-square, .fa-home{
        font-size:2rem;
        cursor: pointer;
    }

    input{        
        display: none;        
    }

    .home a{
        color:#636b6f;
    }
}

.fixed-bottom{
    z-index:800;
}

.loading{
    position: fixed;
    left: 0;
    top: 0;    
    height: 100vh;
    background: #fafafa;
    z-index: 9999;   
}

.loading i{
    font-size: 3rem;
}

.return i{
    font-size: 2rem;
}

.new-post, .edit-post, .comments{

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #fafafa;
    z-index: 999;

    .header{
        padding: 1rem;
    }

    .header a{
    
        font-weight: bold;        
        font-size:1.1rem;

    }

    .main-image{                    
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
          height: 340px;
    }

    .filters{

        overflow-x: auto;  
        height: 210px;
        padding: 30px 10px;
        white-space: nowrap;      

        .filter{

              width: 100px;
              display: inline-block;
              margin: 0 3px;
         
              .image {
                cursor: pointer;
                width: 100px;
                height: 100px;
                background-size: cover;
                background-position: center center;
              }
        }

        h3{
            font-size: 1rem;
            text-align: center;
        }

    }

    .description-container{        

        height: 210px;        

        textarea{
            height: 120px;
        }
    }

}

.special-label-holder{

    position: relative;

    input{
        padding: 1.375rem 0.75rem 0.75rem 0.75rem;
    }

    label{
        color: #999;
        font-size: 12px;
        height: 36px;
        left: 12px;
        line-height: 36px;
        overflow: hidden;
        pointer-events: none;
        position: absolute;        
        top: 0;        
        transition: 0.2s ease all; 
        -moz-transition: 0.2s ease all; 
        -webkit-transition: 0.2s ease all;
    }

    input:focus ~ label, input:not(:placeholder-shown) ~ label {       
       top: -10px;
       font-size: 10px;
    }
}

.liked{
    color: red;
}

.more-options-modal{

    button{
        font-weight: bold;
        padding: 4px 8px;
        border-bottom: 0;
        border-left: 0;
        border-right: 0;
        border-top: 1px solid #dbdbdb;  
        min-height: 48px;
        vertical-align: middle;   
        background-color: transparent;   
    }

    button:first-child{
        border-bottom: 1px solid #dbdbdb;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

    button:last-of-type {
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }
}

.new-post, .edit-post{

    .btn{
        color: #3490dc;
    }

    .btn:hover{
        color: #1d68a7;
        text-decoration: underline;    
    }

    .btn:focus, .btn.focus {
        outline: none;
        box-shadow: none;
    }

}